@model Messenger.Web.Models.ManageIndexViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="row">
        <div class="col-md-4">
            <h4>List of contacts</h4>
            @foreach (var contact in Model.Contacts)
            {
                <div id="@contact.Id" class="currentContact">
                    <div class="contact_info">
                        <b>Name:</b> @contact.FirstName<br />
                        <b>Second name:</b> @contact.LastName<br />
                        <b>Email:</b> @contact.Email<br />
                        <b>Phone number:</b> @contact.PhoneNumber
                    </div>
                </div>
            }   
        </div>
        <div class="col-md-4">
            <h4>Chats</h4>
        </div>
        <div class="col-md-4">
            <h4>Current chat</h4>
        </div>
    </div>
</div>
