@model Messenger.BLL.DTO.UserDTO
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <div class="row">
        <div class="col-md-4">
            <h4>Here you can change your account settings</h4>
            <hr />
            <dl class="user_info dl-horizontal">
                <dt>Name:</dt>
                <dd>
                    @($"{Model.FirstName} {Model.LastName}")
                </dd>
                <dt>Phone number:</dt>
                <dd>
                    @if (Model.PhoneNumber != null)
                    {
                        @Model.PhoneNumber;
                    }
                    else
                    {
                        <span class="warning_message">-No phone number-</span>
                    }
                </dd>
                <dt>Email:</dt>
                <dd>
                    @Model.Email
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <center>
                <h4>Your contacts</h4>
                <button class="compItem">Send</button>
            </center>
        </div>
        <div class="col-md-4">
            
        </div>
    </div>
</div>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(() => {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {                
                e.preventDefault();
                $.get("/Manage/Details", function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}
